In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
df = pd.read_csv("/Users/ajaykrisna/Desktop/madrashousedata.csv")
df.head()

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,NaN,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,NaN,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,NaN,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd

In [3]:
df.tail()

,price,area,status,bhk,bathroom,age,location,builder
2615,27.5,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2616,27.5,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2617,30.0,800,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2618,31.5,850,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2619,34.0,900,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties

In [4]:
df.shape

(2620, 8)

In [5]:
import math
medianbhk = math.floor(df.bhk.median())
print(medianbhk)
medianage= math.floor(df.age.median())
print(medianage)
medianbathroom= math.floor(df.bathroom.median())
print(medianbathroom)

2
0
2

In [6]:
df.bhk= df.bhk.fillna(medianbhk)
df.age= df.age.fillna(medianage)
df.bathroom= df.bathroom.fillna(medianbathroom)
df

,price,area,status,bhk,bathroom,age,location,builder
0,37.49,872,Ready to move,2,2.0,1.0,Sembakkam,MP Developers
1,93.54,1346,Under Construction,3,2.0,0.0,Selaiyur,DAC Promoters
2,151.00,2225,Under Construction,3,2.0,0.0,Mogappair,Casagrand Builder Private Limited
3,49.00,1028,Ready to move,2,2.0,3.0,Ambattur,Dugar Housing Builders
4,42.28,588,Under Construction,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd
...,...,...,...,...,...,...,...,...
2615,27.50,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2616,27.50,750,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2617,30.00,800,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2618,31.50,850,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties
2619,34.00,900,Ready to move,2,2.0,3.0,Veppampattu,Velan Housing Properties

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['bhk','age','area']],df.price)

LinearRegression()

In [8]:
reg.coef_

array([-10.84430384,  -1.0199176 ,   0.14510799])

In [9]:
reg.intercept_

-64.91360139825777

In [10]:
x = input("enter the bhk:")
y = input("enter the age:")
z = input("enter the area:")
print("The predicted price of the house in is:",reg.predict([[x,y,z]]))

enter the bhk:2
enter the age:3
enter the area:1028
The predicted price of the house is: [59.50904791]

/Users/ajaykrisna/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/ajaykrisna/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)